name: Build

on: [push, pull_request]

permissions:
    contents: read

jobs:
    build:
        strategy:
            matrix:
                os: [windows-latest, ubuntu-latest]
                node-version: [20.x, 22.x, 24.x]
        runs-on: ${{ matrix.os }}
        steps:
            - uses: actions/checkout@v6
            - name: Use Node.js ${{ matrix.node-version }}
              uses: actions/setup-node@v6
              with:
                  node-version: ${{ matrix.node-version }}
            - name: Install dependencies
              run: npm ci
            - name: Unit Test
              run: npm test --ignore-scripts
            - name: Build
              run: npm run --if-present build
